.column {
  max-width: 50%;
  width: 100%;
  padding-top: 1.6rem;

  &-left {
    padding-right: 1.6rem;
    border-right: 2px solid #333;
  }

  &-right {
    padding-left: 1.6rem;
  }
}

.text {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 2.8em;
  color: #aaa;

  &-bold {
    color: #ddd;
  }

  &-title {
    font-size: 4em;
    color: #aaa;
  }
}

.social {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;

  &-link {
    color: #ccc;
  }

  &-text {
    position: absolute;
    top: 100%;
    left: 50%;
    font-size: 1.6rem;
    transform: translate(-50%, -50%);
    margin-block-start: 0;
    margin-block-end: 0;
    transition: .3s;
    overflow: hidden;

    &:after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translateX(0);
      background-color: #222;
      transition: .3s;
    }
  }

  &-item {
    font-size: 5em;
    padding: 1.6rem;
    position: relative;
    transform: .3s;

    &:hover {
      .social-text:after {
        transform: translate(100%);
      }

      .fa-linkedin-in {
        color: #2867B2;
      }

      .fa-facebook-f {
        color: #3B5998;
      }

      .fa-instagram {
        color: #FD1D1D;
      }
    }
  }
}

.tech {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 3.2rem;

  &-item {
    max-width: 10%;
    padding: 0 1rem;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;

    &__figure {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
    }

    &__image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

.fa-linkedin-in,
.fa-facebook-f,
.fa-instagram {
  transition: .3s;
}